#main-content {
    display: flex;
    flex-direction: column;
}

.post-summary {
    margin: 20px 0;
    padding: 15px;
    border: 1px solid #ddd;
}

.post-summary h2 {
    font-size: 20px;
}

.post-detail {
    margin: 40px;
}
