.login-form-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    background: white;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.error-message {
    color: red;
}

.success-message {
    color: green;
}

.login-form h2 {
    margin-bottom: 20px;
  }
  
  .login-form label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .login-form input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .login-form button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 110px;
  }
  
  .register-form button:hover {
    background-color: #555;
  }
  
  /* Nút đóng form */
  .close-button {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .success-message {
    color: green; 
    margin: 10px 0;
}
